body{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh; /* Asegura que el contenedor ocupa toda la altura de la ventana */
    margin: 0; /* Elimina el margen predeterminado del body */
    background-image: url('../../public/fondo.png'); /* Reemplaza 'ruta/a/tu/imagen.jpg' con la ruta de tu imagen */
    background-size: cover; /* Ajusta la imagen para cubrir todo el fondo */
    background-position: center; /* Centra la imagen en el fondo */
    background-repeat: no-repeat; /* Evita que la imagen se repita */
}

.card{
    background-color: rgb(206, 200, 223);
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
}

.footer{

    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: blue;
    color: aliceblue;
}